@mixin button($bg-color,$hover-color) {
    background-color: $bg-color;
    border-radius: 8px;
    box-shadow: 0 3px 0 0 rgb(32 32 32 / 5%);
    padding: 8px 20px;
    cursor: pointer;
    a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
    }
    &:hover {
        background-color: $hover-color;
        border-radius: 8px;
        box-shadow: 0 3px 0 0 rgb(32 32 32 / 5%);
        padding: 8px 20px;
        cursor: pointer;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            line-height: 24px;
            font-weight: 500;
        }
    }
}



