/* fonts */
$fonts: Inter, sans-serif;

/* colors */
$primary-green: #cff800;
$hover-green: #bbe600;

$primary-blue: #0075eb;
$hover-blue: #0259b1;

$secondary-blue: #f1f8ff;

$primary-black: #0f0f0f;


