/* fonts */
/* colors */
/* h1 - heading & paragraph */
/* h2 - heading & paragraph */
/* h4 - heading & paragraph */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 12px 50px;
}

/*-- === Banner === --*/
.banner {
  width: 100%;
  background-color: #cff800;
  display: flex;
  align-items: center;
}
.banner .container .content {
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 500;
  text-align: center;
}
.banner .container .content a {
  text-decoration: none;
  font-weight: 600;
  color: #0075eb;
}

/*-- === Header === --*/
header {
  width: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  width: 155px;
  height: 30px;
}
header .container .logo img {
  width: 100%;
}
header .container nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container nav ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul li {
  list-style: none;
  margin-right: 4px;
  margin-left: 4px;
  padding: 6px 8px;
}
header .container nav ul li a {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #0f0f0f;
  cursor: pointer;
}
header .container nav ul li :hover {
  color: #0259b1;
}
header .container nav .icon a {
  font-size: 1.5rem;
  color: #0075eb;
}
header .container nav .button a {
  background-color: #0075eb;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}
header .container nav .button a:hover {
  background-color: #0259b1;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.wrapper {
  width: 100%;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/*-- === Hero Section === --*/
.hero {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero .container .hero_content {
  margin: 0 auto;
  max-width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.hero .container .hero_content .feature-nft {
  max-width: 288px;
  max-height: 315px;
  position: absolute;
  z-index: -1;
}
.hero .container .hero_content .feature-nft img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.hero .container .hero_content .feature-nft-1 {
  left: -195px;
  transform: rotate(11deg);
}
.hero .container .hero_content .feature-nft-2 {
  top: 350px;
  left: 350px;
  transform: rotate(11deg);
}
.hero .container .hero_content .feature-nft-3 {
  top: -190px;
  right: -270px;
  transform: rotate(-9deg);
}
.hero .container .hero_content .feature-nft-4 {
  top: -355px;
  right: 233px;
  transform: rotate(29deg);
}
.hero .container .hero_content .feature-nft-5 {
  top: 300px;
  right: -525px;
  transform: rotate(-9deg);
}
.hero .container .hero_content .feature-nft-6 {
  top: -780px;
  right: 560px;
  transform: rotate(-9deg);
}
.hero .container .hero_content .script-font {
  width: 400px;
  position: absolute;
}
.hero .container .hero_content h1 {
  margin-bottom: 24px;
  font-size: 90px;
  font-weight: 700;
  line-height: 1.2em;
}
.hero .container .hero_content .text-box {
  max-width: 550px;
}
.hero .container .hero_content .text-box p {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4em;
}
.hero .container .hero_content .button a {
  background-color: #cff800;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 32px;
  cursor: pointer;
  color: #0f0f0f;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.hero .container .hero_content .button a:hover {
  background-color: #bbe600;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 32px;
  cursor: pointer;
  color: #0f0f0f;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

/*-- === About Section === --*/
.about {
  background-color: #0075eb;
  width: 100%;
}
.about .container .about__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about .container .about__content-left {
  width: 45%;
  color: #fff;
  position: relative;
}
.about .container .about__content-left img {
  width: 284px;
  position: absolute;
  top: 45px;
  left: 20px;
}
.about .container .about__content-left h2 {
  margin-bottom: 32px;
  font-size: 46px;
  line-height: 1.2em;
}
.about .container .about__content-left p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}
.about .container .about__content-left .button a {
  background-color: #cff800;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 15px;
  cursor: pointer;
  color: #0f0f0f;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.about .container .about__content-left .button a:hover {
  background-color: #bbe600;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 15px;
  cursor: pointer;
  color: #0f0f0f;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.about .container .about__content-right {
  margin-left: 8rem;
}
.about .container .about__content-right img {
  max-width: 382px;
}

/*-- === Roadmap Section === --*/
.roadmap {
  width: 100%;
  background-color: #f1f8ff;
}
.roadmap .container .roadmap__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.roadmap .container .roadmap__content-left img {
  width: 382px;
}
.roadmap .container .roadmap__content-right {
  max-width: 510px;
}
.roadmap .container .roadmap__content-right img {
  width: 202px;
  position: absolute;
  top: -12px;
}
.roadmap .container .roadmap__content-right h2 {
  margin-bottom: 32px;
  font-size: 46px;
  line-height: 1.2em;
}
.roadmap .container .roadmap__content-right p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}
.roadmap .container .roadmap__content-right li {
  list-style: none;
  margin-bottom: 24px;
  padding: 20px 24px 8px;
  border-radius: 6px;
  background-color: #fff;
}
.roadmap .container .roadmap__content-right li h4 {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 1.4em;
}
.roadmap .container .roadmap__content-right li h4 span {
  color: #0075eb;
  margin-right: 5px;
}
.roadmap .container .roadmap__content-right li p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  opacity: 0.8;
}

/*-- === Rarity Section === --*/
.Rarity {
  width: 100%;
  background-color: #fff;
}
.Rarity .container .Rarity__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Rarity .container .Rarity__content-left {
  position: relative;
}
.Rarity .container .Rarity__content-left img {
  width: 130px;
  position: absolute;
  top: -12px;
  left: 2px;
}
.Rarity .container .Rarity__content-left h2 {
  margin-bottom: 32px;
  font-size: 46px;
  line-height: 1.2em;
}
.Rarity .container .Rarity__content-left p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}
.Rarity .container .Rarity__content-left li {
  list-style: none;
  width: 320px;
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 8px;
  padding: 10px 14px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Rarity .container .Rarity__content-left li > div:first-child {
  font-weight: bold;
}
.Rarity .container .Rarity__content-right img {
  width: 644px;
}

/*-- === Creator Section === --*/
.creator {
  background-color: #0075eb;
  width: 100%;
}
.creator .container .creator__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.creator .container .creator__content-left img {
  width: 460px;
}
.creator .container .creator__content-right {
  width: 40%;
  color: #fff;
  position: relative;
}
.creator .container .creator__content-right img {
  width: 160px;
  position: absolute;
  top: -10px;
}
.creator .container .creator__content-right h2 {
  margin-bottom: 32px;
  font-size: 46px;
  line-height: 1.2em;
}
.creator .container .creator__content-right p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}
.creator .container .creator__content-right .button a {
  background-color: #cff800;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 15px;
  cursor: pointer;
  color: #0f0f0f;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.creator .container .creator__content-right .button a:hover {
  background-color: #bbe600;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 15px;
  cursor: pointer;
  color: #0f0f0f;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

/*-- === call-action Section === --*/
.call-action {
  width: 100%;
  background-color: #cff800;
}
.call-action .container .call-action__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.call-action .container .call-action__content-left {
  max-width: 650px;
}
.call-action .container .call-action__content-left h2 {
  margin-bottom: 32px;
  font-size: 46px;
  line-height: 1.2em;
}
.call-action .container .call-action__content-left p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
}
.call-action .container .call-action__content-left .button a {
  background-color: #0075eb;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 32px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.call-action .container .call-action__content-left .button a:hover {
  background-color: #0259b1;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 rgba(32, 32, 32, 0.05);
  padding: 9px 32px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.call-action .container .call-action__content-right {
  width: 100%;
}
.call-action .container .call-action__content-right img {
  display: block;
  width: 110%;
  margin: -418px auto;
  z-index: -1;
}

/*-- === Footer Section === --*/
footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 65px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
footer .container .footer__content {
  width: 100%;
  height: 286px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
footer .container .footer__content-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .footer__content-top .main-box {
  max-width: 450px;
}
footer .container .footer__content-top .main-box .logo {
  width: 155px;
  height: 30px;
}
footer .container .footer__content-top .main-box .logo img {
  width: 100%;
}
footer .container .footer__content-top .main-box p {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 30px;
}
footer .container .footer__content-top .links {
  width: 300px;
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}
footer .container .footer__content-top .links h4 {
  color: #99a4af;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
footer .container .footer__content-top .links li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .container .footer__content-top .links li a {
  color: #0f0f0f;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}
footer .container .footer__content-top .links li a:hover {
  opacity: 0.8;
}
footer .container .footer__content-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .footer__content-bottom .small-text-box {
  max-width: 450px;
  opacity: 0.75;
  font-size: 14px;
  line-height: 1.4em;
}
footer .container .footer__content-bottom .small-text-box a {
  border-bottom-color: #9dcbf8;
  color: #0075eb;
}
footer .container .footer__content-bottom .social-links {
  width: 300px;
}
footer .container .footer__content-bottom .social-links a {
  font-size: 1.5rem;
  color: #0075eb;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfeeff;
  border-radius: 8px;
}
footer .container .footer__content-bottom .social-links a:hover {
  background-color: #dfeeff;
}/*# sourceMappingURL=index.css.map */